.mb-0{
  margin-bottom: 0!important;
}

.mb-1{
  margin-bottom: 1em!important;
}

.ml-auto{
  margin-left: auto;
}

.pr-1{
  padding-right: 1em!important;
}

.bold{
  font-weight: 700;
  color:#111;
}

.relative{
  position: relative;
}
